<footer class="low">

    <div class="socials">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
    </div>
    <div class="name">
        <i class="fa fa-copyright" aria-hidden="true"></i>   WanderLust privates limited.
    </div>
    <div class="agreement">
        <a href="/privacy" class="foot">Privacy</a>
        <a href="/terms" class="foot">Terms</a>
    </div>
</footer>