<% layout("/layouts/boilerplate")%>
<body>
    
    <div class="row">
        <div class="col-8 offset-2">
            <br> <br>
            <h2>Create new content.</h2>
       
    <form method="POST" action="/listings" class="needs-validation" novalidate>

        <div>
            <label for="title" class="form-label">Title:</label>
            <input type="text" name="data[title]" placeholder="Enter title" class="form-control" required>
            <div class="invalid-feedback"> Please enter valid title.</div>
            
        </div><br>
        
        <div>
            <label for="description" class="form-label">Description:</label>
            <textarea type="text" name="data[description]" placeholder="Enter description" class="form-control" required> </textarea>
            <div class="invalid-feedback"> Please enter valid description.</div>            
        </div><br>

        <div>
            <label for="image" class="form-label">Image URL:</label>
            <input type="text" name="data[image]" placeholder="Enter image URL/Link"  class="form-control" required>
            <div class="invalid-feedback"> Please enter valid image url.</div>
            
        </div><br>
        
       <div class="row g-3">
        <div class="col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input type="Number" name="data[price]" placeholder="1200" class="form-control" required>
            <div class="invalid-feedback"> Please enter valid price.</div>
           
        </div>
        
        <div class="col-md-8">
            <label for="location" class="form-label">Loaction:</label>
            <input type="text" name="data[location]" placeholder="Baghpat, Uttar Pradesh" class="form-control" required>
            <div class="invalid-feedback"> Please enter valid loaction.</div>
            
        </div>
       </div><br>
        
        <div>
            <label for="country" class="form-label">Country:</label>
            <input type="text" name="data[country]" placeholder="India" class="form-control" required>
            <div class="invalid-feedback"> Please enter valid country.</div>
            
        </div><br>
        
        <button class="btn btn-info">Add</button>
    </form>
<br><br>
</div>
</div>
</body>
